<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>InMyTable</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Add-or-Edit-table.css">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="assets/css/Date-Picker-From-and-To.css">
    <link rel="stylesheet" href="assets/css/footer-servitech.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/css/lightpick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="assets/css/Simple-Vertical-Navigation-Menu-v-10.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Top--Right--Left-Navigation-by-Jigar-Mistry.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-block navigation-clean-search" style="background: var(--bs-white);height: 130;">
        <div class="container-fluid"><img class="img-fluid flex-shrink-1 pulse animated" src="assets/img/inmytable-logo.png" style="width: 170px;">
            <div class="collapse navbar-collapse text-start" id="navcol-1" style="width: 35.828px;height: 45px;">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="home" style="font-family: Lora, serif;color: var(--bs-dark);margin-top: 0px;font-weight: bold;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="bacheca" style="font-family: Lora, serif;color: var(--bs-gray-dark);margin-top: 0px;font-weight: bold;">Trova un pasto</a></li>
                    <li class="nav-item"><a class="nav-link" href="aiuto" style="font-family: Lora, serif;color: var(--bs-dark);margin-top: 0px;font-weight: bold;">Aiuto</a></li>
                </ul>
            </div>
            <div class="dropdown" style="margin-top: -1px;"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="margin-right: 6px;margin-left: 0px;font-size: 15px;color: var(--bs-dark);letter-spacing: 1px;font-family: Lora, serif;border-radius: 0px;font-weight: bold;border-color: var(--bs-light);font-style: normal;">IL MIO ACCOUNT</a>
                <div class="dropdown-menu"><a class="dropdown-item" href="bacheca" style="font-size: 14px;font-family: Lora, serif;">Bacheca</a><a class="dropdown-item" href="prenotazioni" style="font-size: 14px;font-family: Lora, serif;">Le mie prenotazioni</a><a class="dropdown-item" href="annunci" style="font-size: 14px;font-family: Lora, serif;">I miei annunci</a><a class="dropdown-item" href="messaggi" style="font-size: 14px;font-family: Lora, serif;">Messaggi</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="richesta-pasto" style="font-size: 14px;font-family: Lora, serif;">Richiedi pasto</a><a class="dropdown-item" href="preferiti" style="font-size: 14px;font-family: Lora, serif;">Preferiti</a><a class="dropdown-item" href="recensioni" style="font-size: 14px;font-family: Lora, serif;">Recensioni</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="profilo" style="font-size: 14px;font-family: Lora, serif;">Il mio profilo</a><a class="dropdown-item" href="index" style="font-size: 14px;font-family: Lora, serif;">Esci</a>
                </div>
            </div><a class="btn btn-primary text-center" role="button" data-bss-hover-animate="pulse" style="background: url(&quot;assets/img/cucina.png&quot;) center / cover, #ee6226;border-radius: 24px;width: 116PX;margin-right: 10px;border-color: rgba(0,0,0,0);font-family: Lora, serif;font-size: 11px;height: 26px;margin-top: 3px;" href="cucina"></a>
        </div>
    </nav>
    <div style="height: 120px;"></div>
    <h2 class="text-center" style="font-family: Lora, serif;margin-bottom: 20px;color: #ee6226;font-size: 39px;font-weight: bold;">Domande frequenti<br></h2>
    <section class="article-list">
        <div class="container" style="font-size: 15px;margin-bottom: 20px;font-family: Lora, serif;">
            <div class="intro">
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come funziona INMYTABLE?<br><br></h2>
                <p class="text-center" style="font-size: 16px;">Vai alla pagina&nbsp;<a href="https://www.inmytable.com/welcome/">COME FUNZIONA</a>&nbsp;per trovare tutte le informazioni.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Chi può iscriversi a INMYTABLE?<br><br></h2>
                <p class="text-center">Tutti quanti.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Quanto costa INMYTABLE?<br><br></h2>
                <p class="text-center">Iscriversi a INMYTABLE è gratis.<br>Non ci sono commissioni da pagare per pubblicare, organizzare o partecipare. Cosa aspetti?&nbsp;<a href="https://www.inmytable.com/offri-un-pasto/" target="_blank">Iscriviti ora<strong>!</strong></a><br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Chi può iscriversi a INMYTABLE?<br><br></h2>
                <p class="text-center">Tutti quanti.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come mi iscrivo a INMYTABLE?<br><br></h2>
                <p class="text-center"><a href="https://www.inmytable.com/offri-un-pasto/">Clicca qui</a>, avrai bisogno di pochi minuti per completare l’iscrizione.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come si organizza un pasto?<br><br></h2>
                <p class="text-center"><a href="https://www.inmytable.com/offri-un-pasto/">Clicca qui</a>&nbsp;per pubblicare un pasto. Riempi i campi richiesti e pubblica il tuo annuncio in pochi minuti.<br>Ricorda che per organizzare un pasto su INMYTABLE devi avere a disposizione un ambiente accogliente, pulito e attrezzato per ricevere i tuoi ospiti.<br>Scegli il menu, pubblica il tuo evento e aspetta che qualcuno partecipi. Condividilo sui tuoi social per farlo sapere a tutti!Puoi organizzare un pasto anche per i tuoi followers, conoscenti e amici.<br>(Se sei minorenne e ami cucinare puoi farlo con la presenza di un adulto.)<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come si partecipa a un pasto?<br><br></h2>
                <p class="text-center"><a href="https://www.inmytable.com/annunci/">Clicca qui</a>&nbsp;e cerca un pasto nel luogo e nell’ora che ti interessano. Scegli tra i risultati quello che ti piace di più e prenota il tuo posto.Per poter prenotare devi essere iscritto a INMYTABLE.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">È sicuro?<br><br></h2>
                <p class="text-center"><br>Sia gli organizzatori che i partecipanti al momento dell’iscrizione devono inserire i propri dati.<br>Il sistema di feedback immediato serve inoltre ad assicurare che le persone siano affidabili e che si possa godere in tranquillità dei pasti.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Il cibo è buono?<br><br></h2>
                <p class="text-center">“I gusti sono gusti” quindi mangiare a casa di qualcuno è come andare al ristorante: la cucina è un’arte e ognuno ha la sua percezione. Mangiando a casa, oltre al risparmio economico, sicuramente si evitano molti condimenti pesanti ed ingredienti di dubbia origine: l’organizzatore deve scriverli quando organizza il proprio pasto quindi siete al corrente di tutti i materiali utilizzati.<br><br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come posso sapere tutti gli ingredienti utilizzati?<br><br></h2>
                <p class="text-center">L’organizzatore deve scrivere tutti gli ingredienti utilizzati quando organizza il proprio pasto. Se hai esigenze particolari puoi inviare un messaggio all’host direttamente dalla pagina.<br><br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come riconoscere un buon organizzatore?<br><br></h2>
                <p class="text-center">Dalle recensioni dei partecipanti con i quali ha condiviso la tavola, ma anche dalla precisione con la quale scrive e organizza il proprio evento, e se serve anche personalmente attraverso la chat interna (non forniamo numeri di telefono, è una vostra scelta).<br><br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come riconoscere un buon partecipante?<br><br></h2>
                <p class="text-center">Dalle recensioni degli host dove ha mangiato in passato, ma anche da una comunicazione previa attraverso la chat interna (non forniamo numeri di telefono, è una vostra scelta).<br><br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come posso riscuotere il pasto?<br><br></h2>
                <p class="text-center">Sia che tu voglia essere pagato in denaro, sia che tu voglia essere pagato con qualcos’altro (per esempio altro cibo o una bevanda) la risposta è “Quando vuoi”. Puoi richiedere il pagamento all’arrivo, durante, alla fine del pasto.<br>Specifica anche questo dettaglio nell’annuncio, essere chiari è la forma migliore per capirsi!<br>Puoi anche non richiedere pagamento e offrire da mangiare ai tuoi partecipanti: riceverai ugualmente un feedback!<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come posso pagare il pasto?<br><br></h2>
                <p class="text-center">L’organizzatore decide la modalità di pagamento: può essere in denaro per recuperare le spese, oppure con una merce di scambio (per esempio una bottiglia di vino, pane, un dessert, della frutta, ecc), oppure puoi godere del pasto gratuitamente, nel caso l’host voglia offrire da mangiare ai partecipanti.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Posso pagare con qualcosa che non sia denaro?<br><br></h2>
                <p class="text-center">Si. Se l’organizzatore decide che non vuole denaro, puoi pagare con quello che richiede in cambio (per esempio una bottiglia di vino, pane, un dessert, della frutta, ecc). Potresti anche non pagare affatto, nel caso che l’host voglia offrire da mangiare ai partecipanti.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come scrivo un feedback da organizzatore?<br><br></h2>
                <p class="text-center">Devi esprimere un parere numerico sulla tua esperienza, e un parere scritto -facoltativo- in cui descrivi le persone che hanno partecipato al tuo evento.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come scrivo un feedback da partecipante?<br><br></h2>
                <p class="text-center">Devi esprimere un giudizio numerico sulla tua esperienza, un parere scritto -facoltativo- in cui descrivi l’organizzatore e, separatamente, la location (poiché nel tempo potrebbe non essere sempre la stessa).<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Qual è il numero massimo di pasti che posso organizzare?<br><br></h2>
                <p class="text-center">Non c’è un numero massimo.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Qual è il numero massimo di pasti ai quali posso partecipare?<br><br></h2>
                <p class="text-center">Non c’è un numero massimo.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Posso regalare un pasto a qualcuno?<br><br></h2>
                <p class="text-center">Essendo una piattaforma di scambio in cui partecipanti e organizzatori si incontrano di persona, puoi farlo soltanto contattando direttamente l’host e accordandoti sui termini.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come disdire un pasto?<br><br></h2>
                <p class="text-center">Se hai qualche inconveniente o contrattempo, devi farlo il prima possibile, affinché l’organizzatore possa trovare un’alternativa. Il rischio è di ottenere un feedback negativo.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come trovo parcheggio?<br><br></h2>
                <p class="text-center">L’organizzatore deve indicare questa possibilità nell’annuncio e in ogni caso puoi contattarlo direttamente nella chat interna.<br></p>
                <h2 class="text-center" style="margin-bottom: -7px;font-size: 25px;">Come contatto INMYTABLE?<br><br></h2>
                <p class="text-center">Puoi scrivere direttamente a info@inmytable.com o mandarci un messaggio dalla pagina&nbsp;<a href="https://www.inmytable.com/contatti/">CONTATTI</a>. Se preferisci puoi usare anche i nostri social.<br><br></p>
            </div>
        </div>
    </section>
    <div class="d-xl-flex justify-content-xl-center align-items-xl-end footer-dark degra-azul" data-aos="zoom-in" style="height: 343px;background: var(--bs-white);color: #ffffff;padding-top: 30px;padding-bottom: 40px;">
        <footer style="border-color: rgb(240, 249, 255);border-top-color: rgb(240,;border-right-color: 249,;border-bottom-color: 255);border-left-color: 249,;color: var(--bs-white);height: 214.328px;">
            <div class="container">
                <div class="row g-0 row-cols-2 justify-content-center align-items-center">
                    <div class="col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;height: 178.328px;">
                        <h3> </h3>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul><img class="img-fluid" src="assets/img/inmytable-logo.png" style="width: 258px;text-align: center;">
                        <p style="color: var(--bs-dark);text-align: center;font-family: Lora, serif;"><br><em>Mangiare insieme. Sprecare meno. Conoscersi di più.</em><br><br><br></p>
                    </div>
                    <div class="col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;height: 208px;">
                        <h3> </h3>
                        <h3 class="text-center" style="height: 46px;font-size: 19px;color: var(--bs-dark);font-weight: bold;font-family: Lora, serif;">Links utili</h3>
                        <ul>
                            <li style="height: 32px;text-align: center;"><a href="#" style="font-size: 19px;color: var(--bs-dark);font-family: Lora, serif;">Come funziona</a></li>
                            <li></li>
                            <li></li>
                            <li style="font-size: 19px;height: 32px;text-align: center;font-family: Lora, serif;"><a href="aiuto" style="color: var(--bs-dark);font-family: Lora, serif;">FAQ</a></li>
                            <li style="font-size: 19px;height: 31px;text-align: center;font-family: Lora, serif;"><a href="#" style="color: var(--bs-dark);">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;">
                        <h3> </h3>
                        <h3 class="text-center" style="font-size: 19px;height: 46px;color: var(--bs-dark);font-family: Lora, serif;">Contattaci</h3>
                        <div class="social-icons" style="height: 87px;padding: 0px 0px;"><a href="#"><i class="icon ion-social-instagram" style="margin-left: 10px;margin-right: 2px;"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"></a><a href="#"></a></div>
                        <ul>
                            <li class="text-center" style="height: 60px;color: var(--bs-dark);font-size: 16px;text-align: center;font-family: Lora, serif;font-style: normal;font-weight: bold;">E-mail: info@inmytable.com<br><br></li>
                        </ul><a href="#"></a><a href="#"></a>
                    </div>
                    <div class="col-sm-4 col-md-3 item" style="font-family: Lato, sans-serif;margin-top: 0px;padding-top: 1px;">
                        <h3> </h3>
                        <h3 class="text-center text-sm-center text-md-center text-lg-center" style="font-size: 19px;height: 46px;color: var(--bs-dark);margin-bottom: 2px;margin-top: -2px;font-family: Lora, serif;">Iscriviti alla newsletter</h3>
                        <h3 class="text-center text-sm-center text-md-center text-lg-center" style="font-size: 13px;height: 20px;color: var(--bs-dark);font-style: normal;margin-bottom: 0px;margin-top: 3px;font-family: Lora, serif;">Unisciti alla community<br>Inserisci la tua email</h3>
                        <form style="margin-top: 30px;height: 107px;" method="post">
                            <div class="form-group mb-3" style="margin-top: 0px;margin-bottom: 0px;"><input class="form-control" type="email" name="email" placeholder="Email" style="text-align: center;margin-bottom: 10px;margin-top: 0px;margin-right: 0px;padding-bottom: 4px;padding-top: 7px;margin-left: 0px;font-family: Lora, serif;"></div>
                            <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center form-group mb-3"><button class="btn btn-primary border rounded-pill" data-bss-hover-animate="pulse" type="submit" style="background: #ee6226;padding-top: 8px;width: 101px;font-family: Lora, serif;padding-bottom: 8px;">Inscriviti</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <h1 style="border-color: rgb(0,0,0);color: rgb(0,0,0);text-align: center;font-size: 17px;font-family: Lora, serif;"><br>© 2018 - 2020 Copyright INMYTABLE - Tutti i diritti riservati<br><br></h1>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
    <script src="assets/js/Date-Picker-From-and-To.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Lightbox-Gallery.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
    <script src="assets/js/Sidebar-Menu.js"></script>
</body>

</html>