<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>InMyTable</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asul">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Add-or-Edit-table.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="assets/css/Date-Picker-From-and-To.css">
    <link rel="stylesheet" href="assets/css/footer-servitech.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/css/lightpick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="assets/css/Simple-Vertical-Navigation-Menu-v-10.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Top--Right--Left-Navigation-by-Jigar-Mistry.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-block navigation-clean-search" style="background: var(--bs-white);height: 112.8281px;">
        <div class="container-fluid"><img class="img-fluid flex-shrink-1" src="assets/img/inmytable-logo.png" style="width: 170px;">
            <div class="collapse navbar-collapse" id="navcol-1"></div>
            <div class="dropdown"><a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="margin-right: 6px;margin-left: 0px;font-size: 16px;color: var(--bs-dark);letter-spacing: 1px;font-family: Montserrat, sans-serif;border-radius: 0px;font-weight: bold;">Il Mio Account</a>
                <div class="dropdown-menu"><a class="dropdown-item" href="#" style="font-size: 14px;">Panello di controllo</a><a class="dropdown-item" href="#" style="font-size: 14px;">Le mie prenotazioni</a><a class="dropdown-item" href="#" style="font-size: 14px;">Messaggi</a><a class="dropdown-item" href="#" style="font-size: 14px;">Prenotazioni&nbsp;</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#" style="font-size: 14px;">Organizza</a><a class="dropdown-item" href="#" style="font-size: 14px;">I miei annunci</a><a class="dropdown-item" href="#" style="font-size: 14px;">Recensioni</a><a class="dropdown-item" href="#" style="font-size: 14px;">Preferiti</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="profile.html" style="font-size: 14px;">Il mio profilo</a><a class="dropdown-item" href="index.html" style="font-size: 14px;">Esci</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="clean-block clean-form dark" style="background: var(--bs-white);height: 1652px;">
        <div class="container" style="background: url(&quot;assets/img/social-cooking-home-cooking.jpg&quot;), var(--bs-orange);background-size: cover, auto;height: 1655px;margin-top: 3px;">
            <div class="row" style="margin-right: 0px;margin-left: 0px;">
                <div class="col-md-12" style="margin-bottom: 25px;padding-left: 75px;font-size: 21px;margin-top: 73px;"><a class="anone" href="listaBitacoras.html"><i class="fa fa-long-arrow-left"></i><span>&nbsp; Volver</span></a></div>
            </div>
            <div class="block-heading" style="padding-top: 0px;">
                <p></p>
            </div>
            <form style="margin-bottom: 0px;margin-top: -27px;">
                <div class="form-group mb-3"><label class="form-label" style="line-height: 25px;font-size: 22px;font-weight: bold;">Cosa cucini ?</label><input class="form-control" type="text" autocomplete="off" required=""></div>
                <div class="color form-group mb-3"><label class="form-label" style="margin-top: 15px;">Inserisci una foto del pasto</label>
                    <div class="files overflow-hidden" style="width: 100%;"><input class="form-control" type="file" accept="image/*"></div>
                </div>
                <div class="form-group mb-3"><label class="form-label" style="margin-top: 15px;">Tipo di cuina</label><select class="form-select">
                        <optgroup label="Tipi di cucina">
                            <option value="cucina-altro" selected="">Altro</option>
                            <option value="cucina-locale">Cucina locale</option>
                            <option value="cucina-etnica">Etnico</option>
                            <option value="cucina-fru">Fruttariano</option>
                            <option value="cucina-int">Internazionale</option>
                            <option value="cucina-marco">Macrobiotico</option>
                            <option value="cucina-glu">Senza glutine</option>
                            <option value="cucina-trad">Tradizionale</option>
                            <option value="cucina-vega">Vegano</option>
                            <option value="cucina-vege">Vegetariano</option>
                        </optgroup>
                    </select></div>
                <hr style="margin-top: 30px;margin-bottom: 10px;">
                <div class="form-group mb-3"><label class="form-label" style="margin-top: 15px;">Ingredienti principali</label><input class="form-control" type="text" autocomplete="off" required=""></div>
                <div class="form-group mb-3"><label class="form-label" style="margin-top: 15px;">Indirizzo consegna</label><input class="form-control" type="text" autocomplete="off" required=""></div>
                <div class="form-group mb-3"><label class="form-label" style="margin-top: 15px;">Email</label><input class="form-control" type="text" autocomplete="off" required=""></div>
                <div class="form-group mb-3"><label class="form-label" style="margin-top: 15px;">Telefono di contatto</label><input class="form-control" type="text" autocomplete="off" required=""></div><label class="form-label" style="margin-top: 15px;"><strong>Contatto via Whatsapp</strong></label>
                <div class="form-group mb-3">
                    <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-13" name="check7"><label class="form-check-label" for="formCheck-13">SI</label></div>
                    <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-14" name="check7"><label class="form-check-label" for="formCheck-14">No</label></div>
                </div>
                <div class="form-group mb-3"><label class="form-label" style="margin-top: 15px;">Data e orario di consegna</label></div>
                <div class="input-group mb-4"><span class="input-group-text">Inizio</span><input class="form-control" type="text" id="datePickerFrom-1" inputmode="numeric"></div>
                <div class="input-group mb-4"><span class="input-group-text">Fine</span><input class="form-control" type="text" id="datePickerTo-1"></div>
                <hr style="margin-top: 20px;margin-bottom: 20px;">
                <div class="form-group mb-3"><a class="btn btn-primary w-100" role="button" href="listaBitacoras.html" style="background: var(--bs-orange);"><i class="fas fa-file"></i>&nbsp; Pubblica</a><a class="btn btn-danger w-100" role="button" href="listaBitacoras.html" style="margin-top: 15px;"><i class="fas fa-arrow-left"></i>&nbsp; Cancella</a></div>
            </form>
        </div>
    </section>
    <div class="d-xl-flex justify-content-xl-center align-items-xl-end footer-dark degra-azul" data-aos="zoom-in" style="height: 343px;background: var(--bs-white);color: #ffffff;">
        <footer style="border-color: rgb(240, 249, 255);border-top-color: rgb(240,;border-right-color: 249,;border-bottom-color: 255);border-left-color: 249,;color: var(--bs-white);height: 214.328px;">
            <div class="container">
                <div class="row g-0 row-cols-2 justify-content-center align-items-center">
                    <div class="col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;height: 178.328px;">
                        <h3> </h3>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul><img class="img-fluid" src="assets/img/inmytable-logo.png" style="width: 258px;text-align: center;">
                        <p style="color: var(--bs-dark);"><br><em>Mangiare insieme. Sprecare meno. Conoscersi di più.</em><br><br><br></p>
                    </div>
                    <div class="col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;height: 208px;">
                        <h3> </h3>
                        <h3 class="text-center" style="height: 40px;font-size: 19px;color: var(--bs-dark);font-weight: bold;">Links utili</h3>
                        <ul>
                            <li style="height: 32px;text-align: center;"><a href="#" style="font-size: 19px;color: var(--bs-dark);">Come funziona</a></li>
                            <li></li>
                            <li></li>
                            <li style="font-size: 19px;height: 32px;text-align: center;"><a href="#" style="color: var(--bs-dark);">FAQ</a></li>
                            <li style="font-size: 19px;height: 31px;text-align: center;"><a href="#" style="color: var(--bs-dark);">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;">
                        <h3> </h3>
                        <h3 class="text-center" style="font-size: 19px;height: 39px;color: var(--bs-dark);">Contattaci</h3>
                        <div class="social-icons" style="height: 87px;padding: 0px 0px;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"></a><a href="#"></a></div>
                        <ul>
                            <li class="text-center" style="height: 60px;color: var(--bs-dark);font-size: 16px;text-align: center;font-family: Lora, serif;font-style: normal;font-weight: bold;">E-mail: info@inmytable.com<br><br></li>
                        </ul><a href="#"></a><a href="#"></a>
                    </div>
                    <div class="col-sm-4 col-md-3 item" style="font-family:Lato, sans-serif;">
                        <h3> </h3>
                        <h3 class="text-center text-sm-center text-md-center text-lg-center" style="font-size: 19px;height: 39px;color: var(--bs-dark);">Iscriviti alla newsletter</h3>
                        <h3 class="text-center text-sm-center text-md-center text-lg-center" style="font-size: 15px;height: 18px;color: var(--bs-dark);font-style: normal;">Unisciti alla community<br></h3>
                        <form style="margin-top:19px;" method="post">
                            <div class="form-group mb-3"><input class="form-control" type="email" name="email" placeholder="Inserisci la tua email" style="text-align: center;"></div>
                            <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center form-group mb-3"><button class="btn btn-primary" type="submit" style="background: var(--bs-orange);">Iscriviti</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <h1 style="border-color: rgb(0,0,0);color: rgb(0,0,0);text-align: center;font-size: 17px;"><br>© 2018 - 2020 Copyright INMYTABLE - Tutti i diritti riservati<br><br></h1>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
    <script src="assets/js/Date-Picker-From-and-To.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
    <script src="assets/js/Sidebar-Menu.js"></script>
</body>

</html>