<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>InMyTable</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata">
    <link rel="stylesheet" href="assets/css/FontAwesome.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Add-or-Edit-table.css">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-4---Table-Fixed-Header.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="assets/css/CDRapido-Listado-Socios.css">
    <link rel="stylesheet" href="assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
    <link rel="stylesheet" href="assets/css/Date-Picker-From-and-To.css">
    <link rel="stylesheet" href="assets/css/F20085_andre_gomes_userrating.css">
    <link rel="stylesheet" href="assets/css/footer-servitech.css">
    <link rel="stylesheet" href="assets/css/Forum---Thread-listing-1.css">
    <link rel="stylesheet" href="assets/css/Forum---Thread-listing.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/css/lightpick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/icon-star-full.css">
    <link rel="stylesheet" href="assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/MUSA_no-more-tables-1.css">
    <link rel="stylesheet" href="assets/css/MUSA_no-more-tables.css">
    <link rel="stylesheet" href="assets/css/MUSA_panel-table-1.css">
    <link rel="stylesheet" href="assets/css/MUSA_panel-table.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/one-page-horizontal.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/real-estate-search-2-updated.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Responsive-feedback-form-1.css">
    <link rel="stylesheet" href="assets/css/Responsive-feedback-form.css">
    <link rel="stylesheet" href="assets/css/Review-rating-Star-Review-Button-1.css">
    <link rel="stylesheet" href="assets/css/Review-rating-Star-Review-Button.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="assets/css/Simple-Vertical-Navigation-Menu-v-10.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Table-with-search-1.css">
    <link rel="stylesheet" href="assets/css/Table-with-search.css">
    <link rel="stylesheet" href="assets/css/Testimonials.css">
    <link rel="stylesheet" href="assets/css/Top--Right--centre-Navigation-by-Jigar-Mistry.css">
    <link rel="stylesheet" href="assets/css/Transparent-Incremental-Number-Counter.css">
    <link rel="stylesheet" href="assets/css/User-Rating-F19690-3.css">
    <link rel="stylesheet" href="assets/css/User-rating.css">
</head>

<body>

<nav class="navbar navbar-light navbar-expand fixed-top d-block navigation-clean-search"
     style="background: var(--bs-white);height: 70px;">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse text-start col-3" id="navcol-1"
             style="width: 35.828px;height: 45px;">
            <ul class="navbar-nav"></ul>
            <a class="btn btn-primary" role="button" data-bss-hover-animate="pulse"
               style="background: url(&quot;assets/img/inmytable-logo.png&quot;) center / cover space, #ffffff; width:100%; height: 100%; max-width: 150px; max-height:41px; border-radius: -1px; border:none;"
               href="bacheca"></a>
        </div>

        <!--------Menu notifiche------->
        <div class="nav-item dropdown" style="margin-top: -13px; margin-right: -5px;">
            <a class="nav-link text-light" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell" style="color: #fe9e02; font-size: 20px; "></i>
            </a>

            <ul class="dropdown-menu"
                style="padding: 14px; margin-left:-210px; margin-top:14px; overflow-y: auto; overflow-x: hidden; height: 200px; ">
                <li class="head text-light" style="background-color: #fe9e02;">
                    <div class="row">
                        <div class="col-12 text-center" style="font-weight: 500">
                                                                <span
                                                                        th:text="'Le tue Notifiche ('+${allNotifications.size}+')'"></span>
                            <!--Da mettere se troviamo il modo il contatore di noticiche dentro le
parentesi-->
                        </div>
                    </div>
                </li>
                <li class="container" style="width: 200px;"
                    th:each="notification:${allNotifications}">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="row">
                                <p class="col-12"
                                   style="color:#000000;font-size: 14px; margin-top: 10px;">
                                    Notifica ricevuta alle:</p>
                                <p class="col-12"
                                   style="color:#000000;font-size: 14px; margin-top: -20px;"
                                   th:text="${notification.date+' '+notification.time}">
                                </p>
                                <p class="col-12"
                                   style="color:#000000;font-size: 13px; margin-top: -10px;"
                                   th:text="${notification.from.username+' '+notification.msg}">
                                </p>
                            </div>
                            <div class="col-12 text-center"
                                 style="background-color: #fe9e02; color:white; height: 30px; border-radius: 20px; ">
                                <a class="btn btn-primary" role="button"
                                   href="notifiche"
                                   data-bss-hover-animate="pulse"
                                   style="background: transparent; border-color:transparent;margin-top:-4px; font-size: 13; font:Alata, sans-serif; font-weight: 700;">Vedi
                                    notifica</a>

                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!--------Menu notifiche------->

        <div class="dropdown" style="margin-left: 8px;  margin-top: -15px;">
            <a class="dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown"
               style="margin-right: 6px;margin-left: 0px;font-size: 15px;color: var(--bs-dark);letter-spacing: 1px;font-family: Alata, sans-serif;border-radius: 0px;font-weight: bold;border-color: var(--bs-light);font-style: normal; text-decoration: none;" href="#">IL
                MIO ACCOUNT</a>
            <div class="dropdown-menu" style="margin-left:-10px;  margin-top:24px">
                <a class="dropdown-item" href="bacheca"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Bacheca</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="i-miei-pasti"
                   style="font-size: 14px;font-family: Alata, sans-serif;">I miei pasti</a>
                <a class="dropdown-item" href="le-mie-richieste"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Le mie
                    richieste</a>

                <a class="dropdown-item" href="storico"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Storico</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="notifiche"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Notifiche</a>
                <a class="dropdown-item" href="le-mie-recensioni"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Recensioni</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="profilo"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Il mio
                    profilo</a>

                <form action="/logout" method="post">
                    <button type="submit" class="dropdown-item"
                            style="font-size: 14px;font-family: Alata, sans-serif;">Esci</button>
                </form>

            </div>
        </div>
        <div class="dropdown" style="margin-top:3px;">
            <a class="btn btn-primary" aria-expanded="false" data-bs-toggle="dropdown"
               style="background: url(&quot;assets/img/menu-piu.png&quot;) center / cover space, #ffffff; width: 20px; height: 40px; border:none; margin-left: 10px;"></a>

            <div class="dropdown-menu"
                 style="margin-left: -120px; margin-top:14px; margin-right: 30px;">
                <a class="dropdown-item" href="cucina"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Cucina</a>
                <a class="dropdown-item" href="richiesta-pasto-pubblico"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Richiedi
                    pasto</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="ricerca-pasti-pubblici"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Pasti
                    disponibili</a>

                <a class="dropdown-item" href="ricerca-richieste-pasti-pubbliche"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Richeste
                    pasti</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="ricerca-utenti"
                   style="font-size: 14px;font-family: Alata, sans-serif;">Cerca Utenti</a>

            </div>
        </div>
    </div>
</nav>

<h1 class="text-center"
    style="font-family: Alata, sans-serif;color: #000000;margin-top: 80px;background: rgba(0,0,0,0);font-size: 28px;">
    Dettagli pasto<br></h1>

<section class="article-clean" style=" display:inline">
    <div class="container-fluid">
        <div class="product-list dev col-10 offset-1" style=" margin-top: 15px;margin-bottom: 15px;">
            <div class="row">
                <div class="col-12 product-item" style="text-align: center; ">
                    <div class="product-container"
                         style="border-radius: 15px; margin:10px; height: fit-content;">
                        <div class="col-12">
                            <a class="text-center small-text col-12"
                               style="font-family: Alata, sans-serif;font-size: 18px; color: #000000;">
                                Titolo pasto</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 17px;font-family: Alata, sans-serif;margin-top: 10px;"
                               th:text="${meal.description}">Pasta</a>
                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Padrone
                                di casa</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 17px;font-family: Alata, sans-serif;margin-top: 10px;"
                               th:text="${meal.homeOwner.username}">Luca</a>
                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Numero
                                partecipanti</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 17px;font-family: Alata, sans-serif;margin-top: 10px;"
                               th:text="${meal.maxNumberUsers-meal.placesAvailable+'/'+meal.maxNumberUsers}">2</a>

                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px;;text-align: centre; color:#000000">Data
                                e orario</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 14px;font-family: Alata, sans-serif;margin-top: 18px;">Data
                                e orario inizio:<br
                                        th:text="${meal.date+'  '+meal.time}">20/08/2021</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 14px;font-family: Alata, sans-serif;margin-top: 18px;">Data
                                e orario fine:&nbsp;<br
                                        th:text="${meal.expiryDate+'  '+meal.expiryTime}">20/08/2021
                            </a>

                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Tipo
                                consumazione</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 17px;font-family: Alata, sans-serif;margin-top: 10px;"
                               br="br" th:text="${consummation}">Asporto</a>

                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Ingredienti
                                Principali</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 15px;text-align: centre;font-family: Alata, sans-serif;"
                               th:text="${meal.ingredients}">Pomodoro Pasta
                                Olio</a>
                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Tipo
                                iscrizione</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 15px;text-align: centre;margin-top: 5px;font-family: Alata, sans-serif;"
                               th:text="${subscription}">Pasta al pomodoro</a>

                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Tipo
                                cucina</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 15px;text-align: centre;margin-top: 9px;font-family: Alata, sans-serif;"
                               th:text="${meal.mealType}">Libero</a>

                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Pagamento
                                scelto</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 15px;text-align: centre;margin-top: 9px;font-family: Alata, sans-serif;"
                               th:text="${payment}">Denaro</a>

                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Luogo</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 15px;text-align: centre;margin-top: 9px;font-family: Alata, sans-serif;"
                               th:text="${meal.city+', '+meal.place}">Loreto</a>

                            <a
                                    style="font-family: Alata, sans-serif;font-size: 18px; color: #000000">Prezzo</a>
                            <a class="text-center small-text col-12"
                               style="font-size: 15px;text-align: centre;margin-top: 9px;font-family: Alata, sans-serif;"
                               th:text="${meal.price}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



<h2 class="text-center"
    style="font-family: Alata, sans-serif;margin-bottom: 40px;color: #73bc43;margin-top: 0px;background: rgba(0,0,0,0);font-size: 28px;">
    Lista partecipanti<br></h2>
<div class="container">
    <div class="row">
        <div class="col" style="margin-bottom: 20px;">
            <div class="card shadow">
                <div class="card-body">
                    <div class="table-responsive table mb-0 pt-3 pe-2">
                        <table class="table table-striped table-sm my-0 mydatatable"
                               style="min-height: 330px;">
                            <thead>
                            <tr>
                                <th
                                        style="font-family: Alata, sans-serif;min-width: 120px;text-align: center;">
                                    Nome utente</th>
                                <th></th>
                                <th></th>
                                <th
                                        style="font-family: Alata, sans-serif;text-align: right;min-width: 70px;">
                                </th>
                                <th
                                        style="font-family: Alata, sans-serif;text-align: right;width: 150px;">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${meal.userList}">
                                <td style="font-family: Alata, sans-serif;text-align: center;padding-top: 8px;padding-bottom: 0px;"
                                    th:text="${user.username}"></td>
                               <td></td>
                                <td
                                        style="font-family: Alata, sans-serif;text-align: centre;width: 80px;">
                                    <a class="btn btn-primary border rounded-pill"
                                       role="button"
                                       data-bss-hover-animate="pulse"
                                       th:href="@{profilo-utente(user=${user.username})}"
                                       style="background: #fe9e02;padding-top: 4px;width: 120px;font-family: Alata, sans-serif;padding-bottom: 0px;font-size: 14px;height: 31px;margin-bottom: 0px;margin-right: 0px;text-align: center;margin-top: 1px;">Vedi
                                        profilo</a>
                                </td>
                                <td></td>


                                <!--------------------------DA QUI NUOVO-------------------------------->

                                <td>
                                    <div class="nav-item dropdown"
                                         style="margin-top: -13px; margin-right: -5px;">
                                        <!-- <a
class="nav-link text-light"
id="navbarDrop"
role="button"
data-toggle="dropdown"
aria-haspopup="true"
aria-expanded="false">-->
                                        <a class="nav-link"
                                           id="navbarDrop"
                                           style="color:#fe9e02"
                                           role="button"
                                           data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false">
                                            <th:block
                                                    th:if="${meal.state.toString == 'EXPIRED'}">
                                                <th:block
                                                        th:if="${iSendFeedback.contains(user) == false}">
                                                    <button class="btn btn-success btn-green"
                                                            style="width:230px;margin-top: 7px; font-weight: 600; height: 30px; width:180px;font-size:11px;text-transform: capitalize; background-color: #73bc43; border-color: transparent; border-radius: 20px;">Lascia
                                                        una
                                                        recensione</button>
                                                </th:block>
                                                <th:block
                                                        th:if="${iSendFeedback.contains(user) == true}"
                                                        style="margin-left:30px;">
                                                    <label>Recensione
                                                        Inviata!</label>
                                                </th:block>
                                            </th:block>
                                        </a>
                                        <!-- </a>-->


                                        <ul class="dropdown-menu"
                                            style="padding: 14px; margin-left:-22px; margin-top:130px;height: 200px; width: 270px; ">
                                            <li class="head text-light"
                                                style="background-color: #fe9e02;">
                                                <div
                                                        class="row">
                                                    <div class="col-12 text-center"
                                                         style="font-weight: 500">
                                                    </div>
                                                </div>
                                            </li>
                                            <div class="row"
                                                 id="post-review-box">
                                                <div
                                                        class="col-md-12 text-center">
                                                    <form accept-charset="UTF-8"
                                                          action="/invia-feedback"
                                                          method="post"
                                                          class="col-12">

                                                        <input id="ratings-hidden"
                                                               type="hidden">
                                                        <div class="row"
                                                             style="margin-top: -5px;">
                                                            <p class="col-6"
                                                               th:text="${user.username}"
                                                               style=" text-align:center;font-size: 12px; color:gray;">
                                                            </p>
                                                            <textarea
                                                                    class="col-6"
                                                                    name="user"
                                                                    th:text="${user.username}"
                                                                    style=" text-align:center;font-size: 12px; color:gray;display:none">UserName</textarea>
                                                            <textarea
                                                                    class="col-6"
                                                                    name="food"
                                                                    th:text="${meal.id}"
                                                                    style="font-size: 12px; color:gray; text-align:center;display:none"></textarea>
                                                        </div>
                                                        <div
                                                                class="col-12 text-center">
                                                                                                                                        <textarea
                                                                                                                                                class="form-control animated"
                                                                                                                                                cols="50"
                                                                                                                                                id="new-review"
                                                                                                                                                name="comment"
                                                                                                                                                placeholder="Scrivi la tua recensione qui..."
                                                                                                                                                rows="5"
                                                                                                                                                style=" height: 80px; font-size: 12px; margin-top: -5px;"></textarea>
                                                        </div>
                                                        <p
                                                                style="color:gray; font-size: 12px; margin-top: 5px;">
                                                            Dai
                                                            un
                                                            voto
                                                            all'ospite
                                                        </p>
                                                        <div
                                                                class="col-12">

                                                            <input type="number"
                                                                   class="form-control"
                                                                   name="rating"
                                                                   min="1"
                                                                   max="5"
                                                                   required="required"
                                                                   style="width: 65px;font-size: 12px; margin-top: -5px; margin-left:50px">
                                                            <button class="btn btn-success btn-md"
                                                                    type="submit"
                                                                    style="border-color: transparent;margin-left: 100px;margin-top: -53px; font-size: 12px;width: 80px; background-color: #73bc43;border-radius: 20px;">Invia</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-md-12 text-center" style="margin-top: 10px;margin-bottom: 40px;">
    <a class="btn btn-primary border rounded-pill" role="button" data-bss-hover-animate="pulse"
       href="storico"
       style="background: #fe9e02;padding-top: 8px;width: 210px;font-family: Alata, sans-serif;padding-bottom: 8px;margin-left: 0px;text-align: center;margin-right: 0px;margin-top: 20px;padding-right: 10px;padding-left: 10px;font-size: 20px;">Torna
        indietro</a>
</div>
<div class="d-xl-flex justify-content-xl-center align-items-xl-end footer-dark degra-azul"
     style="height: 340px;background: var(--bs-white);color: #ffffff;padding-top: 20px;padding-bottom: 10px;margin-top: 0px;">
    <footer style="border-color: rgb(240, 249, 255)">
        <div class="container">
            <div class="row row-cols-2 justify-content-center align-items-center">
                <div class="col-sm-4 col-md-3 text-center d-inline order-1 item"
                     style="font-family: Lato, sans-serif;height: 234px;">
                    <h3> </h3>
                    <ul></ul><img class="img-fluid" src="assets/img/inmytable-logo.png"
                                  style="width: 258px;text-align: center;">
                    <p
                            style="color: var(--bs-dark);text-align: center;font-family: Alata, sans-serif;">
                        <br><em>Mangiare insieme. Sprecare meno. Conoscersi di
                        più.</em><br><br><br>
                    </p>
                </div>
                <div class="col-sm-4 col-md-3 text-center d-inline order-2 item"
                     style="font-family: Alata, sans-serif;height: 234px;text-align: center;">
                    <h3> </h3>
                    <h3 class="text-center"
                        style="height: 30px;font-size: 19px;color: var(--bs-dark);font-weight: bold;font-family: Alata, sans-serif;">
                        Links utili<br><br><a class="btn btn-primary text-start"
                                              role="button"
                                              style="background: #ffffff;font-size: 18px;font-weight: normal;width: 130px;height: 34px;border-color: rgba(0,0,0,0);color: rgb(0,0,0);text-align: center;font-family: Alata, sans-serif;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;"
                                              href="come-funziona">Come funziona</a><br><a
                            class="btn btn-primary text-start" role="button"
                            style="background: #ffffff;font-size: 18px;font-weight: normal;width: 60px;height: 34px;border-color: rgba(0,0,0,0);color: rgb(0,0,0);text-align: center;font-family: Alata, sans-serif;margin-bottom: 10px;"
                            href="aiuto">FAQ</a><br><button
                            class="btn btn-primary text-start" type="button"
                            style="background: #ffffff;font-size: 18px;font-weight: normal;width: 118px;height: 29px;border-color: rgba(0,0,0,0);color: rgb(0,0,0);text-align: center;font-family: Alata, sans-serif;margin-bottom: 10px;">Contatti</button><br><br><br><br><br><br><br>
                    </h3>
                </div>
                <div class="col-6 col-sm-4 col-md-3 d-inline order-3 item"
                     style="font-family: Lato, sans-serif;height: 234px;">
                    <h3> </h3>
                    <h3 class="text-center"
                        style="font-size: 19px;height: 46px;color: var(--bs-dark);font-family: Alata, sans-serif;font-weight: bold;margin-bottom: -14px;">
                        Contattaci</h3>
                    <div class="social-icons"
                         style="height: 87px;padding: 0px 0px;text-align: center;"><a
                            ><i class="icon ion-social-instagram"
                                        style="margin-left: 10px;margin-right: 2px;"></i></a><a
                            ><i class="icon ion-social-facebook"></i></a>
                        <h3 class="text-center"
                            style="font-size: 15px;height: 46px;color: var(--bs-dark);font-family: Alata, sans-serif;text-align: center;font-weight: bold;">
                            <br>E-mail: info@inmytable.com<br>
                        </h3><a ></a><a ></a>
                    </div>
                    <ul></ul><a ></a><a ></a>
                </div>
                <div class="col-sm-4 col-md-3 order-4 item"
                     style="font-family: Lato, sans-serif;margin-top: 0px;padding-top: 1px;width: 242;">
                    <h3> </h3>
                    <h3 class="text-center text-sm-center text-md-center text-lg-center"
                        style="font-size: 19px;height: 46px;color: var(--bs-dark);margin-bottom: 18px;margin-top: 0px;font-family: Alata, sans-serif;font-weight: bold;">
                        Iscriviti alla newsletter</h3>
                    <h3 class="text-center text-sm-center text-md-center text-lg-center"
                        style="font-size: 13px;height: 20px;color: var(--bs-dark);font-style: normal;margin-bottom: 6px;margin-top: 3px;font-family: Alata, sans-serif;">
                        Unisciti alla community<br>Inserisci la tua email</h3>
                    <form style="margin-top: 30px;height: 107px;" method="post">
                        <div class="form-group mb-3"
                             style="margin-top: 0px;margin-bottom: 0px;"><input
                                class="form-control" type="email" name="email"
                                placeholder="Email"
                                style="text-align: center;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;padding-bottom: 4px;padding-top: 7px;margin-left: 0px;font-family: Alata, sans-serif;">
                        </div>
                        <div
                                class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center form-group mb-3">
                            <button class="btn btn-primary border rounded-pill"
                                    data-bss-hover-animate="pulse" type="submit"
                                    style="background: #73bc43;padding-top: 8px;width: 118px;font-family: Alata, sans-serif;padding-bottom: 8px;margin-left: 5px;">Iscriviti</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h1
                style="border-color: rgb(0,0,0);color: rgb(0,0,0);text-align: center;font-size: 17px;font-family: Alata, sans-serif;margin-top: 5px;margin-bottom: 10px;padding-top: 0px;padding-bottom: 0px;">
            <br>© 2018 - 2020 Copyright INMYTABLE - Tutti i diritti riservati<br><br>
        </h1>
    </footer>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
<script src="assets/js/DataTable---Fully-BSS-Editable.js"></script>
<script src="assets/js/Date-Picker-From-and-To.js"></script>
<script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
<script src="assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/Lightbox-Gallery.js"></script>
<script src="assets/js/one-page-horizontal.js"></script>
<script src="assets/js/Profile-Edit-Form.js"></script>
<script src="assets/js/real-estate-search-2-updated.js"></script>
<script src="assets/js/Review-rating-Star-Review-Button.js"></script>
<script src="assets/js/Sidebar-Menu.js"></script>
<script src="assets/js/Table-with-search.js"></script>
</body>

</html>