<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>InMyTable</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asul">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Add-or-Edit-table.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="assets/css/Date-Picker-From-and-To.css">
    <link rel="stylesheet" href="assets/css/footer-servitech.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/css/lightpick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="assets/css/Simple-Vertical-Navigation-Menu-v-10.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Top--Right--Left-Navigation-by-Jigar-Mistry.css">
</head>

<body style="border-right-color: rgba(33,37,41,0);background: rgb(255, 255, 255);">
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-block navigation-clean-search" style="background: var(--bs-white);">
        <div class="container-fluid"><img class="img-fluid" src="assets/img/inmytable-logo.png" style="width: 170px;">
            <div class="collapse navbar-collapse" id="navcol-1"></div><a class="btn btn-light action-button" role="button" data-bss-hover-animate="pulse"  href="login" style="margin-left: -7px;margin-bottom: 0px;background: rgb(225,108,0);font-family: Asul, sans-serif;width: 100px;">Accedi</a>
        </div>
    </nav>
    <div class="container-fluid text-center" style="padding-right: 0px;padding-left: 0px;padding-top: 80px;"><img class="img-fluid pulse animated" src="assets/img/foto-home-PIATTO.jpg" style="width: 1920px;margin-right: 0px;">
        <section data-aos="zoom-in" data-aos-once="true" class="article-list">
            <div class="container-fluid" style="margin: 0px;margin-bottom: -1px;margin-top: 15px;">
                <div class="intro" style="height: 130px;margin-bottom: 0px;margin-top: 0px;">
                    <h2 class="text-center" style="font-size: 35px;margin-top: 139px;height: 40px;margin-bottom: -175px;">Perché offrire un pasto?<br></h2><a class="btn btn-light text-center border rounded-pill action-button" role="button" data-bss-hover-animate="pulse" href="register" style="margin-left: 0px;margin-bottom: 0px;background: rgb(225,108,0);font-family: Asul, sans-serif;width: 287.1406px;margin-top: 41px;font-size: 36px;color: var(--bs-light);height: 71px;text-align: center;">Registrati</a>
                </div>
                <p class="text-center" style="font-size: 17px;margin-bottom: 20px;height: 75px;margin-top: 0px;">Organizzando il tipo di pasto che desideri per chi si trova nei paraggi ti farà scoprire molti vantaggi economici, sostenibili e fare nuove conoscenze.<br></p>
                <div class="row articles" style="margin-bottom: -40px;">
                    <div class="col-sm-4 col-md-4 item"><a><img class="img-fluid" src="assets/img/risparmi.jpg"></a>
                        <h3 class="name" style="font-size: 29px;color: var(--bs-orange);"><strong>Risparmi</strong><br></h3>
                        <p class="description" style="font-size: 16px;">Puoi ripagarti la spesa e i costi domestici chiedendo un rimborso ai tuoi ospiti.<br><br></p><a class="action" href="#"></a>
                    </div>
                    <div class="col-sm-4 col-md-4 item"><a><img class="img-fluid" src="assets/img/sprechi-meno.jpg"></a>
                        <h3 class="name" style="font-size: 29px;color: var(--bs-orange);"><strong>Sprechi di meno</strong><br></h3>
                        <p class="description" style="font-size: 16px;">Cucinando per più persone recuperi i costi fissi e sprechi anche meno cibo.<br></p><a class="action" href="#"></a>
                    </div>
                    <div class="col-sm-4 col-md-4 item"><a><img class="img-fluid" src="assets/img/conosci-nuove-persone.jpg"></a>
                        <h3 class="name" style="font-size: 27px;color: var(--bs-orange);"><strong>Mangi in compagnia</strong><br></h3>
                        <p class="description" style="font-size: 16px;">Ospita a casa tua e fai amicizia mangiando insieme.<br></p><a class="action" href="#"></a>
                    </div>
                </div>
            </div>
        </section>
        <section data-aos="zoom-in" data-aos-once="true" class="article-list">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center" style="font-size: 35px;">Perché trovare un pasto?<br></h2>
                </div>
                <p class="text-center" style="font-size: 17px;margin-bottom: 20px;">Mangiare a casa di qualcuno migliora la qualità/prezzo del tuo pasto e fai ogni volta una nuova esperienza.<br></p>
                <div class="row articles" style="margin-bottom: -40px;">
                    <div class="col-sm-4 col-md-4 item"><a><img class="img-fluid" src="assets/img/spendi-meno-per-mangiare.jpg"></a>
                        <h3 class="name" style="font-size: 29px;color: var(--bs-orange);"><strong>Spendi meno</strong><br></h3>
                        <p class="description" style="font-size: 16px;">Trova un buon pasto ovunque tu sia, pagando il giusto prezzo.<br></p><a class="action" href="#"></a>
                    </div>
                    <div class="col-sm-4 col-md-4 item"><a><img class="img-fluid" src="assets/img/mangi-meglio.jpg"></a>
                        <h3 class="name" style="font-size: 29px;color: var(--bs-orange);"><strong>Mangi meglio</strong><br></h3>
                        <p class="description" style="font-size: 16px;">Mangi un pasto senza lunghe attese, appena preparato e fatto a casa.<br></p><a class="action" href="#"></a>
                    </div>
                    <div class="col-sm-4 col-md-4 item"><a><img class="img-fluid" src="assets/img/mangi-in-compagnia.jpg" style="width: 416px;"></a>
                        <h3 class="name" style="font-size: 27px;color: var(--bs-orange);"><strong>Conosci gente</strong><br></h3>
                        <p class="description" style="font-size: 16px;">Conosci nuove persone nella tua città o quando sei in viaggio.<br></p><a class="action" href="#"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="d-xl-flex justify-content-xl-center align-items-xl-end footer-dark degra-azul" data-aos="zoom-in" style="height: 343px;background: var(--bs-white);color: #ffffff;">
        <footer style="border-color: rgb(240, 249, 255);border-top-color: rgb(240,;border-right-color: 249,;border-bottom-color: 255);border-left-color: 249,;color: var(--bs-white);height: 214.328px;">
            <div class="container">
                <div class="row g-0 row-cols-2 justify-content-center align-items-center">
                    <div class="col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;height: 178.328px;">
                        <h3> </h3>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul><img class="img-fluid" src="assets/img/inmytable-logo.png" style="width: 258px;text-align: center;">
                        <p style="color: var(--bs-dark);"><br><em>Mangiare insieme. Sprecare meno. Conoscersi di più.</em><br><br><br></p>
                    </div>
                    <div class="col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;height: 208px;">
                        <h3> </h3>
                        <h3 class="text-center" style="height: 40px;font-size: 19px;color: var(--bs-dark);font-weight: bold;">Links utili</h3>
                        <ul>
                            <li style="height: 32px;text-align: center;"><a href="#" style="font-size: 19px;color: var(--bs-dark);">Come funziona</a></li>
                            <li></li>
                            <li></li>
                            <li style="font-size: 19px;height: 32px;text-align: center;"><a href="#" style="color: var(--bs-dark);">FAQ</a></li>
                            <li style="font-size: 19px;height: 31px;text-align: center;"><a href="#" style="color: var(--bs-dark);">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;">
                        <h3> </h3>
                        <h3 class="text-center" style="font-size: 19px;height: 39px;color: var(--bs-dark);">Contattaci</h3>
                        <div class="social-icons" style="height: 87px;padding: 0px 0px;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"></a><a href="#"></a></div>
                        <ul>
                            <li class="text-center" style="height: 60px;color: var(--bs-dark);font-size: 16px;text-align: center;font-family: Lora, serif;font-style: normal;font-weight: bold;">E-mail: info@inmytable.com<br><br></li>
                        </ul><a href="#"></a><a href="#"></a>
                    </div>
                    <div class="col-sm-4 col-md-3 item" style="font-family:Lato, sans-serif;">
                        <h3> </h3>
                        <h3 class="text-center text-sm-center text-md-center text-lg-center" style="font-size: 19px;height: 39px;color: var(--bs-dark);">Iscriviti alla newsletter</h3>
                        <h3 class="text-center text-sm-center text-md-center text-lg-center" style="font-size: 15px;height: 18px;color: var(--bs-dark);font-style: normal;">Unisciti alla community<br></h3>
                        <form style="margin-top:19px;" method="post">
                            <div class="form-group mb-3"><input class="form-control" type="email" name="email" placeholder="Inserisci la tua email" style="text-align: center;"></div>
                            <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center form-group mb-3"><button class="btn btn-primary" type="submit" style="background: var(--bs-orange);">Iscriviti</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <h1 style="border-color: rgb(0,0,0);color: rgb(0,0,0);text-align: center;font-size: 17px;"><br>© 2018 - 2020 Copyright INMYTABLE - Tutti i diritti riservati<br><br></h1>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
    <script src="assets/js/Date-Picker-From-and-To.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
    <script src="assets/js/Sidebar-Menu.js"></script>
</body>

</html>