<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>InMyTable</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asul">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Add-or-Edit-table.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Calendar.css">
    <link rel="stylesheet" href="assets/css/Date-Picker-From-and-To.css">
    <link rel="stylesheet" href="assets/css/footer-servitech.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/css/lightpick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="assets/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="assets/css/Simple-Vertical-Navigation-Menu-v-10.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Top--Right--Left-Navigation-by-Jigar-Mistry.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top d-block navigation-clean-search" style="background: var(--bs-white);">
        <div class="container-fluid"><img class="img-fluid" src="assets/img/inmytable-logo.png" style="width: 175px;">
            <div class="collapse navbar-collapse" id="navcol-1"></div><a class="btn btn-light action-button" role="button" data-bss-hover-animate="pulse" href="index" style="margin-left: -7px;margin-bottom: 0px;background: rgb(225,108,0);font-family: Asul, sans-serif;width: 100px;">Indietro</a>
        </div>
    </nav>
    <section class="register-photo" style="margin-top: 60px;background: url(&quot;assets/img/social-cooking-eating-2.jpg&quot;) top / cover;">
        <div class="form-container">
            <form class="text-center" method="post" style="padding-right: 60px;padding-top: 40px;width: 893px;"><img class="swing animated" src="assets/img/inmytable-icon-1.png" style="width: 268px;margin-right: 0px;margin-left: 0px;margin-bottom: 20px;">
                <h2 class="text-center"><strong>Creazione</strong>&nbsp;nuovo account</h2>
                <div class="mb-3"><input class="form-control" type="email" name="username" placeholder="Nome utente" style="margin-bottom: 16px;"><input class="form-control" type="email" name="nome" placeholder="Nome" style="margin-bottom: 16px;"><input class="form-control" type="email" name="cognome" placeholder="Cognome" style="margin-bottom: 16px;"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password-repeat" placeholder="Password (ripeti)"></div><a class="already" href="#" style="font-size: 16px;margin-top: 15px;">Foto del documento d'identità o patente di guida</a>
                <div class="mb-3"></div><input class="form-control" type="file" accept="image/*" name="file-documento">
                <div class="form-check" style="margin-bottom: 0px;margin-top: 24px;"><label class="form-check-label"><input class="form-check-input" type="checkbox">Accetto i termini e le condizioni del servizio.</label></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" data-bss-hover-animate="pulse" type="submit" style="color: var(--bs-light);background: var(--bs-orange);margin-top: 30px;">Registrati</button></div><a class="already" href="login" style="font-size: 16px;margin-bottom: 20px;margin-top: 0px;">Hai già un'account? Torna al Login!</a>
            </form>
        </div>
    </section>
    <div class="d-xl-flex justify-content-xl-center align-items-xl-end footer-dark degra-azul" data-aos="zoom-in" style="height: 343px;background: var(--bs-white);color: #ffffff;">
        <footer style="border-color: rgb(240, 249, 255);border-top-color: rgb(240,;border-right-color: 249,;border-bottom-color: 255);border-left-color: 249,;color: var(--bs-white);height: 214.328px;">
            <div class="container">
                <div class="row g-0 row-cols-2 justify-content-center align-items-center">
                    <div class="col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;height: 178.328px;">
                        <h3> </h3>
                        <ul>
                            <li></li>
                            <li></li>
                        </ul><img class="img-fluid" src="assets/img/inmytable-logo.png" style="width: 258px;text-align: center;">
                        <p style="color: var(--bs-dark);"><br><em>Mangiare insieme. Sprecare meno. Conoscersi di più.</em><br><br><br></p>
                    </div>
                    <div class="col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;height: 208px;">
                        <h3> </h3>
                        <h3 class="text-center" style="height: 40px;font-size: 19px;color: var(--bs-dark);font-weight: bold;">Links utili</h3>
                        <ul>
                            <li style="height: 32px;text-align: center;"><a href="#" style="font-size: 19px;color: var(--bs-dark);">Come funziona</a></li>
                            <li></li>
                            <li></li>
                            <li style="font-size: 19px;height: 32px;text-align: center;"><a href="#" style="color: var(--bs-dark);">FAQ</a></li>
                            <li style="font-size: 19px;height: 31px;text-align: center;"><a href="#" style="color: var(--bs-dark);">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 d-inline item" style="font-family: Lato, sans-serif;">
                        <h3> </h3>
                        <h3 class="text-center" style="font-size: 19px;height: 39px;color: var(--bs-dark);">Contattaci</h3>
                        <div class="social-icons" style="height: 87px;padding: 0px 0px;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"></a><a href="#"></a></div>
                        <ul>
                            <li class="text-center" style="height: 60px;color: var(--bs-dark);font-size: 16px;text-align: center;font-family: Lora, serif;font-style: normal;font-weight: bold;">E-mail: info@inmytable.com<br><br></li>
                        </ul><a href="#"></a><a href="#"></a>
                    </div>
                    <div class="col-sm-4 col-md-3 item" style="font-family:Lato, sans-serif;">
                        <h3> </h3>
                        <h3 class="text-center text-sm-center text-md-center text-lg-center" style="font-size: 19px;height: 39px;color: var(--bs-dark);">Iscriviti alla newsletter</h3>
                        <h3 class="text-center text-sm-center text-md-center text-lg-center" style="font-size: 15px;height: 18px;color: var(--bs-dark);font-style: normal;">Unisciti alla community<br></h3>
                        <form style="margin-top:19px;" method="post">
                            <div class="form-group mb-3"><input class="form-control" type="email" name="email" placeholder="Inserisci la tua email" style="text-align: center;"></div>
                            <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center form-group mb-3"><button class="btn btn-primary" type="submit" style="background: var(--bs-orange);">Inscriviti</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <h1 style="border-color: rgb(0,0,0);color: rgb(0,0,0);text-align: center;font-size: 17px;"><br>© 2018 - 2020 Copyright INMYTABLE - Tutti i diritti riservati<br><br></h1>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick@1.3.4/lightpick.min.js"></script>
    <script src="assets/js/Date-Picker-From-and-To.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
    <script src="assets/js/Sidebar-Menu.js"></script>
</body>

</html>